@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: black;
}

.scrollbar {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Oculta la barra de desplazamiento en navegadores que la admiten */
  -ms-overflow-style: none; /* Oculta la barra de desplazamiento en Internet Explorer y Microsoft Edge */
}

.scrollbar::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en navegadores basados en WebKit */
}

.thumbwook{
  background: rgba(0,0,0,.35);
}
